<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.myspringboot.mapper.UserMapper">

    <resultMap id="ResultMap" type="User">
        <id     property="id"       column="id" />
        <result property="userName" column="name" />
        <result property="password" column="password" />
        <result property="email" column="email" />
        <result property="bio" column="bio" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <select id="getById" resultMap="ResultMap">
        select * from t_user where id = #{id}
    </select>

    <select id="getAllUsers" resultMap="ResultMap">
        select * from t_user
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user(
            name,
            password,
            email,
            bio,
            create_time,
            update_time
        )values(
            #{userName},
            #{password},
            #{email},
            #{bio},
            sysdate(),
            sysdate()
        )
    </insert>

    <update id="updateUser" parameterType="User">
        update t_user
        <set>
            <if test="userName != null">name = #{userName},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="bio != null">bio = #{bio},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteUser">
        delete from t_user where id = #{id}
    </delete>
</mapper>